# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: "Tags"

env:
  IGNORE_COMMITS: |-
    370badf
    54fc985
    592e646
    8e7230b
    d03c4d7
    eb43ed0
    ffc713c

on:
  push:
    tags:
      - "**"

permissions:
  contents: "read"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  double_tag:
    name: "Detect tag without new commit"
    runs-on: "ubuntu-latest"
    timeout-minutes: 1
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v6"
        with:
          fetch-depth: 0
      - name: "List commits with multiple tags"
        run: |
          DUPLICATES="$(git show-ref --tags --hash=7 | sort | uniq --repeated)"
          if [ "${DUPLICATES}" != "${IGNORE_COMMITS}" ]; then
              echo "::error::Commit with multiple tags"
              echo "${DUPLICATES}"
              exit 10
          fi
